<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Usuários</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

<div class="container mt-5">

    <h2>
        Usuários
    </h2>

    <table class="table table-striped">

        <thead class="thead-dark">

            <tr>

                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Tipo</th>

            </tr>

        </thead>

        <tbody>

            {% for usuario in usuarios %}

            <tr>

                <td>{{ usuario.nome }}</td>

                <td>{{ usuario.email }}</td>

                <td>{{ usuario.telefone }}</td>

                <td>{{ usuario.tipo_usuario }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

</body>
</html>